@font-face {
                            font-family: "farro-bold (2)";
                            src: url(//idiomfragrances.com/cdn/shop/t/9/assets/Farro-Bold%20(2).woff?v=109546625805986866631783011517) format("woff");
                        }
@font-face {
                            font-family: "farro-regular (1)";
                            src: url(//idiomfragrances.com/cdn/shop/t/9/assets/Farro-Regular%20(1).woff?v=164160572913370671783011518) format("woff");
                        }
